*{margin:0;padding: 0}
.container{
    
}


header{
    /* background: lightgreen; */
    overflow: hidden;
    padding: 15px;
}
.left{
    float: left;
    width:20%;
}

.right{
    float: right;
    width:30%;
}