.content-main{
    /* background-color: aqua; */
    height: 100vh;
}

.contoh2::-webkit-input-placeholder{
	color: white;
}

.btn-ungu{
    background: #526EFF;
}

.kotak {
    background: whitesmoke;
    border-radius: 10px;
}

table {
    background: whitesmoke;
    border-color: red;
    border-radius: 10px;
}